/* imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

*{
    /* box-sizing: border-box; */
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal
}
.btn-primary
{
    border-radius: 5px;
    background: #FF900E;
    padding: 20px 24px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-style: none;
    cursor:pointer;
}
.section-title
{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}

/* shared styles end here */

/* header styles */

header
{
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 150px; /*p-hero -->50px 240px*/
    /* border: 2px solid yellow; */
    margin-bottom: 20px;
}
nav
{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 2px solid red; */
}
nav>ul{
    /* border: 2px solid purple; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0px 50px; */
    /* gap: 20px; */ /*i prefer this */
    
}
nav ul li 
{
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}
nav ul li a 
{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content
{
    max-width: 70%;
    /* border: 2px solid slateblue; */
    margin: 0 auto 40px;
    text-align: center;
    
}
.banner-title
{
    font-size: 3rem;
    font-weight: 800;

}
.banner-description
{
    color: #424242;
}

.banner img{
    width: 100%;
}
/* header end */
/* main parts here */
/* feature-section */
.feature-section
{
    padding: 20px 200px;
    
    /* border: 2px solid orchid; */
}
.feature-content
{
    /* border: 2px solid saddlebrown; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;

}
.img-feature
{
    /* border: 2px solid firebrick; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    width: 48%;
}
.img-feature img
{
    width: 100%;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}
.about-feature
{
    /* border: 2px solid gray; */
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about-f-title
{
    color: var(--Dark-03, #727272);
font-size: 1.9rem;
font-weight: 500;
}
/* span tag */
#of-our,#f
{
  font-weight: 700;
  color: black;
}
#f
{
    color: #FF900E;
    
}
.gray-description
{
    color: var(--Dark-03, #727272);
}

/* about-section */
.about-section
{
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    


}
.about-description
{
    padding-right: 120px;
    /* border: 2px solid green; */
}
.about-img
{ 
    /* border: 2px solid red; */
    width: 150%;

}
.about-img img{
    width: 100%;
    /* height: 100%; */
}
.extra
{
    width: 100px;
    /* border: 2px solid orchid; */
    padding: 20px 40px;
    text-align: center;
    background-color: #FF900E;
    border-radius: 5px;
    border-style: none;
    position: relative;
    bottom: 84px;
    right: 53px;
}
.extra h2{
   color: white;
   font-size: 2rem;
   margin: 0px 0px;
}
.extra p
{
    color: white;
    margin:5px 0px 3px 0px;
}

/* fact-section */
.fact-section{
    padding: 20px 150px;
    
}
.icon-section
{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.card
{
    border-radius: 8px;
    border: 1px solid #FF900E; 
    text-align: center;
    padding: 25px;
    
}
.card h2
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.card p
{
    margin-top: 0px;
}

/* sponspor section starts here */

.sponspor-section
{
    padding: 20px 150px;
    text-align: center;
}
.sponspor-section p
{
    width: 50%;
    margin: auto;

}

.sponspor
{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}
.sponspor img
{
    width: 130px;
    
}

/* footer section */
.last-foot
{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px 150px;
    text-align: center;
    background-color:rgba(255, 144, 14, 0.10);
}

/* .hide
{
    display:none;
} */

@media screen and (max-width:931px) {

    .banner{
        padding: 0px 0px;
        ;
    }
    
    nav{
        justify-content:flex-start;
        flex-direction: column;
        /* gap: 8px; */

    }
    nav>ul
    {
        /* gap: 8px; */
        justify-content: space-around;
        margin: 0px 0px;
        padding: 0px 0px;
        gap: 9px;
        /* position: relative; */
        /* left: -20px; */
    }
    nav ul li 
    {
        margin: 0px 0px;
    }
    .nav-title
    {
        font-size: 2rem;
        text-align: center;
    }
    .banner-title
   {
      font-size: 2.2rem;
      font-weight: 800;
   }
    .btn-primary
    {
        padding: 10px 14px;
        font-size: 1rem;
        font-weight: 600;
    }
/* header end */
/* feature section */
.feature-section{
    padding: 20px 5px;
    /* margin-left: 0px;
    margin-right: 0px; */
}
.feature-content
{
    flex-direction: column;
}
.img-feature
{
    width: 100%;
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
   
}
.img-feature img{
     height: 220px; 
    object-fit: none;
}
.about-feature
{
    width: 100%;
}

/* about-section*/
.about-section{
    padding: 0px 0px;
    flex-direction: column;
    margin: 0px 0px;
}
.about-description{
   padding: 0px 0px;
}
.about-img{
   width: 100%;
}
.about-img img{
   width: 350px;
   padding-left:7px;
   /* height: 100%; */
}
.extra
{
   bottom: 54px;
   right: -9px;
   
}

/* facts section  */
 .fact-section
 {
    padding: 0px 0px;
    /* border: 2px solid greenyellow; */
    margin-top: 10px 0px;
 }
 .icon-section
 {
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 10px;
 }
 .card
 {
    padding: 20px;
    width: 50%;
    margin: auto;
 }

 /* sponspor section */

 .sponspor-section
 {
    padding: 0px 0px;
 }
 .sponspor-section p
 {
    margin: 0px 0px;
    width: 100%;
 }
 .sponspor{
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
 }
 .sponspor img 
 {
    width: 100px;
 }
 
 /* footer section */

 .last-foot 
 {
    padding: 30px 0px;
    margin: 50px 0px 20px 0px;
 }




}